@use "../abstracts/variables" as *;

$header-color: $primary-color;
$header-shadow: $darken-color;

.header {
  position: sticky;
  top: 0;
  max-width: 1440px;
  height: 120px;
  margin: 0 auto;
  align-content: center;
  z-index: 3;

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.4;

    color: $header-color;
    text-shadow: 3px 3px 0 $header-shadow,
    -1px -1px $header-shadow,
    1px -1px $header-shadow,
    -1px 1px $header-shadow,
    1px 1px $header-shadow;
  }
}
